@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container {
  font-family: 'Poppins', sans-serif;
}

.btn-create, .btn-delete, .btn-warning, .btn-info {
  border: none;
  padding: 8px 16px;
  color: white;
  font-weight: bold;
}

.btn-create {
  background-color: rgb(104, 170, 5);
}

.btn-delete {
  background-color: rgb(194, 0, 0);
}

.btn-warning {
  background-color: rgb(194, 55, 0);
}

.btn-info {
  background-color: rgb(6, 180, 180);
}

form {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .btn-create, .btn-delete, .btn-warning, .btn-info  {
    padding: 6px 14px;
    font-size: 0.8rem;
    line-height: 20px;
    margin-top: 5px;
  }

  form {
    width: 80%;
  }

  .td {
    margin-top: 40px;
  }

  table {
    font-size: 1rem;
  }
}
