@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container {
  font-family: 'Poppins', sans-serif;
}

.btn-success {
  background-color: greenyellow;
}

.btn-danger {
  background-color: rgb(204, 8, 8);
}